.bg-gray{
  background: #020631;
}

.list{
  max-width: 500px;
  margin: auto;
  &-logo{
    text-align: center;
    p{
      color: #fff;
      font-weight: 600;
      font-size: 16px;
      margin-top: 15px;
    }
  }
}

.ant-form-inline{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ant-form-item{
  margin-right: 0 !important;
  input{
    height: 40px;
    min-width: 250px
  }
}

.btn-submit{
  height: 40px;
  min-width: 46px;
}

.ant-btn-loading{
  .plus-icon{
    display: none;
  }
}

.list-scroll{
  margin-top: 2rem;

  .list-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 1rem;
    border-bottom: 1px dashed #f5f5f5;
    padding-bottom: 1rem;

    color: #fff;
    &:last-child{
      margin-bottom: 0;
    }
  
    .ant-checkbox-wrapper{
      color: #fff;
    }
  
    .check-note {
      flex: 0 0 80%;
    }
  }
}


.list-paginate{
  margin-top: 2rem;
  text-align: right;
}